<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redis Test</title>
    {{!-- <link rel="stylesheet" href="file:///Users/vikas/Downloads/bootstrap.min.css"/> --}}
  </head>
  <body>
    
      {{{body}}}
   
  </body>
</html>